.navbar-brand{
    font-size: 2rem;
    }
.navbar{
  justify-content: center;
    align-items: center;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: #fff700;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    text-align: center;
    align-items: center;
}
.myButton {
	box-shadow: 0px 19px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #54b3bf 100%);
	background-color:#599bb3;
	border-radius:28px;
	border:1px solid #4e9ed4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 32px;
	text-decoration:none;
	text-shadow:0px 1px 17px #202ae6;
}
.myButton:hover {
	background:linear-gradient(to bottom, #54b3bf 5%, #599bb3 100%);
	background-color:#54b3bf;
}
.myButton:active {
	position:relative;
	top:1px;
} 
input {
  width: 90%;
  margin-block: 5%;
}
